<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar" %>
  </div>

  <div class="item-display">
    <div class="item-header">
      <div class="item-header-title">
        店舗 > 一覧表示
      </div>
      <div class="item-indicate-btn">
        <ul>
          <li class="lightblue", id="sort-by-code">通常表示</li>
          <li id="sort-by-category">企業別表示</li>
        </ul>
      </div>
    </div>

    <div class="shop-display-contents">

      <div class="sort-by-code", id="sort-by-code-display">
        <%if @shops %>
          <% @shops.each do |shop|%>
            <div class="shop-display-content">
              <%= shop.company_name %>
              <%= shop.shop_name %>
              <%= shop.shop_code %>
              <%= shop.prefecture.name %>
              <%= shop.delivery_days %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="sort-by-category", id="sort-by-category-display">
        <% @shops.each do |shop|%>
          <div class="company-name">
            <%= shop.company_name %>
          </div>
          <% @shops.where(company_name: shop.company_name).each do |shop|%>
            <div class="shop-display-content">
              <%= shop.shop_name %>
              <%= shop.shop_code %>
              <%= shop.prefecture.name %>
              <%= shop.delivery_days %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>