<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        店舗 > 一覧表示 > <%= link_to "店舗選択", select_companies_path %> > <%=@company.name%>
      </div>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <%if @shops.present? %>
          <table>
            <tr class="first-row">
              <%= render "th_shop" %>
            </tr>
            <tr>
              <%= render "th_shop" %>
            </tr>
            <% @shops.each do |shop|%>
              <tr>
                <%= render partial: "td_shop", locals: {shop: shop} %>
              </tr>
            <% end%>
          </table>
        <% else %>
          <p>登録店舗なし</p>
        <% end %>
      </div>
    </div>

  </div>
</div>