<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        <%=@company.name%> > 店舗一覧表示
      </div>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <%if @shops.empty? %>
          <p>登録店舗なし</p>
        <% else %>
          <div class="shop-display-contents">
            <% @shops.each do |shop|%>
              <div class="shop-display-content">
                <%= shop.name %>
                <%= shop.prefecture.name %>
                <%= shop.delivery_days %>
                <%= link_to "編集", edit_company_shop_path(id: shop.id) %>
                <%= link_to "削除", company_shop_path(id: shop.id), method: :delete %>
                <%= link_to "注文受付", new_company_shop_order_path(shop_id: shop.id) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>