<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar" %>
  </div>

  <div class="item-display">
    <div class="item-header">
      <div class="item-header-title">
        店舗 > 登録
      </div>
      <div class="item-form-and-error">
        <%= form_with model: @shop, local: true do |f| %>
          <%= render "items/error_messages", model: f.object %>
          <ul class="item-form">
            <li><p>企業名</p><%= f.text_field :campany_name %></li>
            <li><p>店舗名</p><%= f.text_field :shop_name %></li>
            <li><p>店舗コード</p><%= f.text_field :shop_code %></li>
            <li><p>都道府県</p><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"category-select"}) %></li>
            <li><p>配送日数</p><%= f.number_field :delivery_days, min:1 %></li>
            <li><%= f.submit "登録", class:"item-form-btn"%></li>
          </ul>
        <% end %>
      </div>

    <div class="shop-display-contents">

      <div class="sort-by-code", id="sort-by-code-display">
        <%if @shops %>
          <% @shops.each do |shop|%>
            <div class="shop-display-content">
              <%= shop.campany_name %>
              <%= item.shop_name %>
              <%= item.shop_code %>
              <%= item.prefecture.name %>
              <%= item.delivery_days %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>