<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        注文受付 > <%= link_to "企業選択", recieve_companies_path %> > <%=@company.name%> > 店舗選択
      </div>
    </div>

    <div class="lower-display">
      <%if @shops.present? %>
        <table>
          <tr class="first-row">
            <%= render "th_shop" %>
            <th class="th-select">選択</th>
          </tr>
          <tr>
            <%= render "th_shop" %>
            <th class="th-select">選択</th>
          </tr>
          <% @shops.each do |shop|%>
            <tr>
              <%= render partial: "td_shop", locals: {shop: shop} %>
              <td><%= link_to ">>", new_company_shop_order_path(shop_id: shop.id) %></td>
            </tr>
          <% end%>
        </table>
      <% else %>
        <p>登録店舗なし</p>
      <% end %>
    </div>

  </div>
</div>