<div class="item-display-content">
  <%= item.category.name %>
  <%= item.code%>
  <%= item.name%>
  <%= item.stock%>
  <%= item.monthly_sales%>
  <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
    <%= render "items/error_messages", model: f.object %>
    <ul class="order-form">
      <li><input name="item_id" type="hidden" value=<%= item.id %>></li>
      <li><p>注文数</p><%= f.number_field :sales_numbers, min:1 %></li>
      <li><%= f.submit "確定", class: "order-form-btn" %></li>
    </ul>
  <% end %>
</div>
