<div class="item-display-content">
  <%= item.category.name %>
  <%= item.code%>
  <%= item.name%>
  <%= item.stock%>
  <%= item.monthly_sales%>
  <%= item.creation_days%>
  <%= form_with model:[@shop, @order], url:company_shop_orders_path, local: true do |f| %>
    <%= render "items/error_messages", model: f.object %>
    <ul class="item-form">
      <li><%= f.number_field :sales_numbers, min:1 %></li>
      <li><%= f.submit "登録", class:"item-form-btn"%></li>
    </ul>
  <% end %>
</div>