<td class="td-company-name"><%= order.shop.company.name %></td>
<td class="td-shop-name"><%= order.shop.name %></td>
<td class="td-item-name"><%= order.item.name %></td>
<td class="td-order-sales-numbers"><%= order.sales_numbers %></td>
<td class="td-order-date"><%= order.created_at.strftime("%Y/%-m/%-d/%H:%M") %></td>