<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        注文 > 一覧表示
      </div>
    </div>

    <div class="lower-display">
      <table>
        <tr class="first-row">
          <%= render "th_order" %>
          <th class="th-destory">削除</th>
        </tr>
        <tr>
          <%= render "th_order" %>
          <th class="th-destory">削除</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <%= render partial: "td_order", locals: {order: order} %>
            <td><%= link_to '>>',company_shop_order_path(id: order.id), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>