<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        <%= @shop.company.name %> > <%= @shop.name %> > 注文数入力
      </div>
    <%= @shop.company.name %> > <%= @shop.name %> > <%=link_to '一覧表示', company_shop_orders_path %>
    </div>

    <div class="lower-display">

      <div class="sort-by-code", id="sort-by-code-display">
        <% if @items %>
          <% @items.each do |item|%>
            <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
              <div class="red">
                <%= render partial: "order_item_display_content", locals: {item: item} %>
              </div>
            <% elsif item.stock <= item.monthly_sales * 0.5 %>
              <div class="yellow">
                <%= render partial: "order_item_display_content", locals: {item: item} %>
              </div>
            <% else %>
              <%= render partial: "order_item_display_content", locals: {item: item} %>
              
            <%end%>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>