<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        注文受付 > <%= link_to "企業選択", recieve_companies_path %> > <%= @shop.company.name %> > <%= link_to "店舗選択", recieve_company_shops_path(@shop.company.id) %> > <%= @shop.name %>
      </div>
      <div class="top-display-instruction">
        <p>※1つの入力毎に確定</p>
      </div>
    </div>
    

    <div class="lower-display">

      <div>
        <% if @items.present? %>
          <table>
            <tr class="first-row">
              <%= render "items/th_item" %>
              <th class="th-order-sales-numbers">注文数</th>
              <th class="th-confirm">確定</th>
            </tr>
            <tr>
              <%= render "items/th_item" %>
              <th class="th-order-sales-numbers">注文数</th>
              <th class="th-confirm">確定</th>
            </tr>
          </table>
          <% @items.each do |item|%>
            <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= render "items/error_messages", model: f.object %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr class="red">
                    <%= render partial: "items/td_item", locals: {item: item} %>
                    <td><%= f.number_field :sales_numbers, min:1, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <% end %>
            <% elsif item.stock <= (item.monthly_sales * 0.5) %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= render "items/error_messages", model: f.object %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr class="yellow">
                    <%= render partial: "items/td_item", locals: {item: item} %>
                    <td><%= f.number_field :sales_numbers, min:1, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <% end %>
            <% else %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= render "items/error_messages", model: f.object %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr>
                    <%= render partial: "items/td_item", locals: {item: item} %>
                    <td><%= f.number_field :sales_numbers, min:1, max:9999, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <%end%>
            <% end %>
          <% end %>
        <% else %>
          <p> 注文できる商品がありません </p>
        <% end %>
      </div>

    </div>
  </div>
</div>