<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        注文受付 > <%= link_to "企業選択", recieve_companies_path %> > <%= @shop.company.name %> > <%= link_to "店舗選択", recieve_company_shops_path(@shop.company.id) %> > <%= @shop.name %>
      </div>
      <p>1つの入力毎に確定を行ってください。</p>
    </div>
    

    <div class="lower-display">

      <div>
        <% if @items.present? %>
          <table>
            <tr class="first-row">
              <th class="th-item-category">カテゴリー</th>
              <th class="th-item-code">商品コード</th>
              <th class="th-item-name">商品名</th>
              <th class="th-item-stock">在庫数</th>
              <th class="th-item-monthly-sales">想定月間販売数</th>
              <th class="th-order-sales-numbers">注文数</th>
              <th class="th-confirm">確定</th>
            </tr>
            <tr>
              <th class="th-item-category">カテゴリー</th>
              <th class="th-item-code">商品コード</th>
              <th class="th-item-name">商品名</th>
              <th class="th-item-stock">在庫数</th>
              <th class="th-item-monthly-sales">想定月間販売数</th>
              <th class="th-order-sales-numbers">注文数</th>
              <th class="th-confirm">確定</th>
            </tr>
          </table>
          <% @items.each do |item|%>
            <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr class="red">
                    <td class="td-item-category"><%= item.category.name %></td>
                    <td class="td-item-code"><%= item.code%></td>
                    <td class="td-item-name"><%= item.name%></td>
                    <td class="td-item-stock"><%= item.stock%></td>
                    <td class="td-item-monthly-sales"><%= item.monthly_sales%></td>
                    <td><%= f.number_field :sales_numbers, min:1, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <% end %>
            <% elsif item.stock <= (item.monthly_sales * 0.5) %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr class="yellow">
                    <td class="td-item-category"><%= item.category.name %></td>
                    <td class="td-item-code"><%= item.code%></td>
                    <td class="td-item-name"><%= item.name%></td>
                    <td class="td-item-stock"><%= item.stock%></td>
                    <td class="td-item-monthly-sales"><%= item.monthly_sales%></td>
                    <td><%= f.number_field :sales_numbers, min:1, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <% end %>
            <% else %>
              <%=form_with model:[@shop, @order], url: company_shop_orders_path do |f| %>
                <%= f.number_field :item_id, value:item.id, type:"hidden" %>
                <table>
                  <tr>
                    <td class="td-item-category"><%= item.category.name %></td>
                    <td class="td-item-code"><%= item.code%></td>
                    <td class="td-item-name"><%= item.name%></td>
                    <td class="td-item-stock"><%= item.stock%></td>
                    <td class="td-item-monthly-sales"><%= item.monthly_sales%></td>
                    <td><%= f.number_field :sales_numbers, min:1, class:"order-sales-numbers-form form" %></td>
                    <td><%= f.submit ">>", class:"submit-form form" %></td>
                  </tr>
                </table>
              <%end%>
            <% end %>
          <% end %>
        <% else %>
          <p> 注文できる商品がありません </p>
        <% end %>
      </div>

    </div>
  </div>
</div>