<div class="wrapper">

  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">

    <div class="top-display">
      <div class="top-display-title">
        企業 > 編集
      </div>
    </div>

    <div class="lower-display">
      <%if @companies %>
        <table>
          <tr class="first-row">
            <th class="th-company-name">企業名</th>
          </tr>
          <tr>
            <th class="th-company-name">企業名</th>
          </tr>
          <% @companies.each do |company|%>
            <% if company.id == @company.id%>
              <div class="item-form-and-error">
                <%= form_with model:@company, local: true do |f| %>
                  <%= render "items/error_messages", model: f.object %>
                  <tr>
                    <td><%= f.text_field :name, class:"company-name-form company-form" %></td>
                    <td><%= f.submit "確定", class:"company-submit-form company-form" %></td>
                  </tr>
                <% end %>
              </div>
            <% else %>
              <tr>
                <td><%= company.name %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>