<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="item-display">
    <div class="item-header">
      <div class="item-header-title">
        企業 > 一覧表示
      </div>
      <div class="item-indicate-btn">
        <ul>
          <li class="lightblue", id="sort-by-code">通常表示</li>
          <li id="sort-by-category">企業別表示</li>
        </ul>
      </div>
    </div>

    <div class="item-display-contents">

      <div class="sort-by-code", id="sort-by-code-display">
        <%if @companies %>
          <% @companies.each do |company|%>
            <div class="company-display-content">
              <div class="shop-display-contents">
                <% @shops.each do |shop|%>
                  <% if shop.company_id == company.id %>
                    <div class="shop-display-content">
                      <%= company.name %>
                      <%= shop.name %>
                      <%= shop.prefecture.name %>
                      <%= shop.delivery_days %>
                      <%= link_to "選択", company_shops_path(company.id) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="sort-by-category", id="sort-by-category-display">
        <%if @companies %>
          <% @companies.each do |company|%>
            <div class="company-display-content">
              <%= company.name %>
              <div class="shop-display-contents">
                <% @shops.each do |shop|%>
                  <% if shop.company_id == company.id %>
                    <div class="shop-display-content">
                      <%= shop.name %>
                      <%= shop.prefecture.name %>
                      <%= shop.delivery_days %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>