<div class="wrapper">
  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        企業 > 一覧表示
      </div>
      <div class="indicate-btn">
        <ul>
          <li class="lightblue", id="sort-by-code">企業一覧</li>
          <li id="sort-by-category">企業別店舗表示</li>
        </ul>
      </div>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <%if @companies.present? %>
          <table>
            <tr class="first-row">
              <th class="th-company-name">企業名</th>
            </tr>
            <tr>
              <th class="th-company-name">企業名</th>
            </tr>
            <% @companies.each do |company|%>
              <div class="company-display-content">
                <tr>
                  <td><%= company.name %></td>
                </tr>
              </div>
            <% end %>
          </table>
        <% else %>
          <p>登録企業なし</p>
        <% end %>
      </div>

      <div class="sort-by-category", id="sort-by-category-display">
        <%if @companies.present? %>
          <% @companies.each do |company|%>
            <div class="list-title">
              <%= company.name %>
            </div>
            <% if @shops.where(company_id: company.id).present? %>
              <table>
                <tr>
                  <th class="th-shop-name">店舗名</th>
                  <th class="th-shop-prefecture">都道府県</th>
                  <th class="th-shop-delivery-days">配送日数</th>
                </tr>
                <% @shops.each do |shop|%>
                  <% if shop.company_id == company.id %>
                    <tr>
                      <td><%= shop.name %></td>
                      <td><%= shop.prefecture.name %></td>
                      <td><%= shop.delivery_days %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            <% else %>
              <p>登録店舗なし</p>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>