<% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
  <div class="item-display-content red">
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.code%></td>
      <td><%= item.name%></td>
      <td><%= item.stock%></td>
      <td><%= item.monthly_sales%></td>
    <tr>
  </div>
<% elsif item.stock <= item.monthly_sales * 0.5 %>
  <div class="item-display-content yellow">
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.code%></td>
      <td><%= item.name%></td>
      <td><%= item.stock%></td>
      <td><%= item.monthly_sales%></td>
    <tr>
  </div>
<% else %>
  <div class="item-display-content yellow">
    <tr>
      <td><%= item.category.name %></td>
      <td><%= item.code%></td>
      <td><%= item.name%></td>
      <td><%= item.stock%></td>
      <td><%= item.monthly_sales%></td>
    <tr>
  </div>
<%end%>