<div class="item-header">
  <div class="item-header-title">
    商品 > 登録
  </div>
  <div class="item-form">
    <%= form_with model:@item, local: true do |f| %>
      <ul>
        <li><p>カテゴリー</p><%= f.text_field :category%></li>
        <li><p>商品コード</p><%= f.text_field :code %></li>
        <li><p>商品名</p><%= f.text_field :name %></li>
        <li><p>在庫数</p><%= f.number_field :stock %></li>
        <li><p>想定月間販売数</p><%= f.number_field :monthly_sales %></li>
        <li><p>商品作成日数</p><%= f.number_field :creation_days %></li>
        <li><%= f.submit "登録", class:"item-form-btn"%></li>
      </ul>
    <% end %>
  </div>
<div class="item-content">
</div>