<td class="td-item-category"><%= item.category.name %></td>
<td class="td-item-code"><%= item.code%></td>
<td class="td-item-name"><%= item.name%></td>
<td class="td-item-stock"><%= item.stock%></td>
<td class="td-item-monthly-sales"><%= item.monthly_sales%></td>