<h1>不一致な商品</h1>
<div>
  <% if @error_stock_items.present? %>
    <table>
      <tr>
        <th>商品コード</th><th>商品名</th><th>工場側在庫数</th><th>本社側在庫数</th>
      </tr>
      <% @error_stock_items.each do |item| %>
        <tr>
          <td><%= item.code %></td>
          <td><%= item.name %></td>
          <td><%= item.stock %></td>
          <td>
            <% if @items.where(code: item.code).present? %>
              <%= @items.where(code: item.code).first.stock %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>全ての在庫が一致しています。</p>
  <% end %>
</div>
<%= link_to "戻る", root_path %>