<div class="wrapper">

  <div class= "side-bar">
    <%= render "side_bar"%>
  </div>

  <div class="main-display">

    <div class="top-display">
      <div class="top-display-title">
        商品 > <%= link_to "登録・編集・削除", new_item_path %> > 編集
      </div>
    </div>

    <div class="lower-display">
      <%= form_with model:@item, local: true do |f| %>
        <%= render "error_messages", model: f.object %>
        <table>
          <tr class="first-row">
            <%= render "th_item" %>
            <th class="th-edit">編集</th>
          </tr>
          <tr>
            <%= render "th_item" %>
            <th class="th-edit">編集</th>
          </tr>
          <% @items.each do |item|%>
            <% if item.id == @item.id%>
              <div class="item-form-and-error">
                <tr>
                  <td><%= f.collection_select(:category_id, Category.all, :id, :name, {selected: item.category_id}, {class:"item-category-form form"}) %></td>
                  <td><%= f.text_field :code, class:"item-code-form form", value: item.code, maxlength: 8 %></td>
                  <td><%= f.text_field :name, class:"item-name-form form", value: item.name, maxlength: 20 %></td>
                  <td><%= f.number_field :stock, min:0, max:9999, class:"item-stock-form form", value: item.stock %></td>
                  <td><%= f.number_field :monthly_sales, min:0, max:9999, class:"item-monthly-sales-form form", value: item.monthly_sales %></td>
                  <td><%= f.submit "確定", class:"submit-form form" %></td>
                </tr>
              </div>
            <% else %>
              <tr>
                <%= render partial: "td_item", locals: {item: item} %>
                <td><%= link_to ">>", edit_item_path(item.id) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>