<div class="wrapper">
  <div class= "side-bar">
    <%= render "side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        商品 > 一覧表示
      </div>
      <div class="item-indicate-btn">
        <ul>
          <li class="lightblue", id="sort-by-code">コード順表示</li>
          <li id="sort-by-category">カテゴリー別表示</li>
          <li id="sort-creation-list">発注リスト表示</li>
        </ul>
      </div>
      <div class="import-file">
        <p>データベースと工場の在庫数照合</p>
        <%= form_with url: compare_items_path, local: true do |f| %>
          <%= f.file_field :file, accept: ".xlsx" %>
          <%= f.submit "在庫照合"%>
        <% end %>
      </div>
    </div>

    <div class="lower-display">

      <div class="sort-by-code", id="sort-by-code-display">
        <table>
          <tr class="first-row">
            <th class="th-item-category">カテゴリー</th>
            <th class="th-item-code">商品コード</th>
            <th class="th-item-name">商品名</th>
            <th class="th-item-stock">在庫数</th>
            <th class="th-item-monthly-sales">想定月間販売数</th>
          </tr>
          <tr>
            <th class="th-item-category">カテゴリー</th>
            <th class="th-item-code">商品コード</th>
            <th class="th-item-name">商品名</th>
            <th class="th-item-stock">在庫数</th>
            <th class="th-item-monthly-sales">想定月間販売数</th>
          </tr>
          <% if @items %>
            <% @items.each do |item|%>
              <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
                <tr class="red">
                  <td><%= item.category.name %></td>
                  <td><%= item.code%></td>
                  <td><%= item.name%></td>
                  <td><%= item.stock%></td>
                  <td><%= item.monthly_sales%></td>
                </tr>
              <% elsif item.stock <= item.monthly_sales * 0.5 %>
                <tr class="yellow">
                  <td><%= item.category.name %></td>
                  <td><%= item.code%></td>
                  <td><%= item.name%></td>
                  <td><%= item.stock%></td>
                  <td><%= item.monthly_sales%></td>
                </tr>
              <% else %>
                <tr>
                  <td><%= item.category.name %></td>
                  <td><%= item.code%></td>
                  <td><%= item.name%></td>
                  <td><%= item.stock%></td>
                  <td><%= item.monthly_sales%></td>
                </tr>
              <%end%>
            <% end %>
          <% end %>
        </table>
      </div>

      <div class="sort-by-category", id="sort-by-category-display">
        <% Category.all.where.not(id:1).each do |category|%>
          <div class="category-name">
            <%= category.name %>
          </div>
          <table>
            <tr>
              <th class="th-item-code">商品コード</th>
              <th class="th-item-name">商品名</th>
              <th class="th-item-stock">在庫数</th>
              <th class="th-item-monthly-sales">月間想定販売数</th>
            </tr>
            <% @items.each do |item| %>
              <%if item.category.name == category.name %>
                <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
                  <tr class="red">
                    <td><%= item.code%></td>
                    <td><%= item.name%></td>
                    <td><%= item.stock%></td>
                    <td><%= item.monthly_sales%></td>
                  </tr>
                <% elsif item.stock <= (item.monthly_sales * 0.1)+ 3 %>
                  <tr class="yellow">
                    <td><%= item.code%></td>
                    <td><%= item.name%></td>
                    <td><%= item.stock%></td>
                    <td><%= item.monthly_sales%></td>
                  </tr>
                <% else %>
                  <tr>
                    <td><%= item.code%></td>
                    <td><%= item.name%></td>
                    <td><%= item.stock%></td>
                    <td><%= item.monthly_sales%></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>


      <div class="sort-creation-list", id="sort-creation-list-display">
        <div class="creation-list-title">
          最優先発注依頼リスト
        </div>
        <table>
          <tr>
            <th class="th-item-category">カテゴリー</th>
            <th class="th-item-code">商品コード</th>
            <th class="th-item-name">商品名</th>
            <th class="th-item-stock">在庫数</th>
            <th class="th-item-monthly-sales">月間想定販売数</th>
          </tr>
          <% @items.each do |item|%>
            <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
              <tr>
                <td><%= item.category.name %></td>
                <td><%= item.code%></td>
                <td><%= item.name%></td>
                <td><%= item.stock%></td>
                <td><%= item.monthly_sales%></td>
              </tr>
            <% end %>
          <% end %>
        </table>

        <div class="creation-list-title">
          発注依頼リスト
        </div>
        <table>
          <tr>
            <th class="th-item-category">カテゴリー</th>
            <th class="th-item-code">商品コード</th>
            <th class="th-item-name">商品名</th>
            <th class="th-item-stock">在庫数</th>
            <th class="th-item-monthly-sales">月間想定販売数</th>
          </tr>
          <% @items.each do |item|%>
            <% if (item.stock <= item.monthly_sales * 0.5) && (item.stock > (item.monthly_sales * 0.1)+ 3) %>
              <tr>
                <td><%= item.category.name %></td>
                <td><%= item.code%></td>
                <td><%= item.name%></td>
                <td><%= item.stock%></td>
                <td><%= item.monthly_sales%></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>