<div class="wrapper">

  <div class= "side-bar">
    <%= render "side_bar"%>
  </div>

  <div class="main-display">

    <div class="top-display">
      <div class="top-display-title">
        商品 > 登録
      </div>
      <div class="item-form-and-error">
        <%= form_with model:@item, local: true do |f| %>
          <%= render "error_messages", model: f.object %>
          <ul class="item-form">
            <li><p>カテゴリー</p><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %></li>
            <li><p>商品コード</p><%= f.text_field :code %></li>
            <li><p>商品名</p><%= f.text_field :name %></li>
            <li><p>在庫数</p><%= f.number_field :stock, min:0 %></li>
            <li><p>想定月間販売数</p><%= f.number_field :monthly_sales, min:0 %></li>
            <li><%= f.submit "登録", class:"item-form-btn"%></li>
          </ul>
        <% end %>
      </div>
      <%= form_with url:import_items_path, local: true do |f| %>
        <%= f.file_field :file, accept: ".xlsx" %>
        <%= f.submit "インポート"%>
      <% end %>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <% @items.each do |item|%>
          <% if item.stock <= (item.monthly_sales * 0.1)+ 3 %>
            <div class="red">
              <%= render partial: "item_display_content_edit", locals: {item: item} %>
            </div>
          <% elsif item.stock <= item.monthly_sales * 0.5 %>
            <div class="yellow">
              <%= render partial: "item_display_content_edit", locals: {item: item} %>
            </div>
          <% else %>
            <%= render partial: "item_display_content_edit", locals: {item: item} %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>