<div class="wrapper">

  <div class= "side-bar">
    <%= render "side_bar"%>
  </div>

  <div class="main-display">

    <div class="top-display">
      <div class="top-display-title">
        商品 > 登録・編集・削除
      </div>
      <div class="item-form-and-error">
        <%= form_with model:@item, local: true do |f| %>
          <%= render "error_messages", model: f.object %>
          <table class="top-display-form">
            <tr>
              <%= render "th_item" %>
            </tr>
            <tr>
              <td><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"item-category-form form"}) %></td>
              <td><%= f.text_field :code, class:"item-code-form form" %></td>
              <td><%= f.text_field :name, class:"item-name-form form" %></td>
              <td><%= f.number_field :stock, min:0, class:"item-stock-form form" %></td>
              <td><%= f.number_field :monthly_sales, min:0, class:"item-monthly-sales-form form" %></td>
              <td><%= f.submit "登録", class:"submit-form form" %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div class="import-file">
        <p>商品登録（.xlsxファイル）</p>
        <%= form_with url:import_items_path, local: true do |f| %>
          <%= f.file_field :file, accept: ".xlsx" %>
          <%= f.submit "インポート"%>
        <% end %>
      </div>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <table>
          <tr class="first-row">
            <%= render "th_item" %>
            <th class="th-edit">編集</th>
            <th class="th-destory">削除</th>
          </tr>
          <tr>
            <%= render "th_item" %>
            <th class="th-edit">編集</th>
            <th class="th-destory">削除</th>
          </tr>
          <% @items.each do |item|%>
            <tr>
              <%= render partial: "td_item", locals: {item: item} %>
              <td><%=link_to ">>", edit_item_path(item.id) %></td>
              <td><%=link_to ">>", item_path(item.id), method: :delete  %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>